07-bdel/CalcProcess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://nswi145/PizzaProcess/wsdl" 
   xmlns:tnsxsd="http://nswi145/PizzaProcess/xsd" 
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
   xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
   xmlns:calc="http://tempuri.org/"
   xmlns:rec="http://homework2/"
   targetNamespace="http://nswi145/PizzaProcess/wsdl">
    <wsdl:import location="calculator.wsdl"
      namespace="http://tempuri.org/" />

	<wsdl:import location="PizzaPrice.wsdl"
      namespace="http://homework2/" />

	<wsdl:types>
		<xsd:schema targetNamespace="http://nswi145/PizzaProcess/xsd">
			<xsd:element name="makeNewPizzaProcess">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PizzaType" type="xsd:string" />
						<xsd:element name="discount" type="xsd:double" />
						<xsd:element name="tax" type="xsd:double" />
					</xsd:sequence>
				</xsd:complexType>
      		</xsd:element>
			<xsd:element name="makeNewPizzaProcessResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PizzaProcessPath" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
      		</xsd:element>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="PizzaPriceInputMessage">
		<wsdl:part name="parameters" element="tnsxsd:makeNewPizzaProcess"/>
	</wsdl:message>
	<wsdl:message name="PizzaPriceOutputMessage">
		<wsdl:part name="parameters" element="tnsxsd:makeNewPizzaProcessResponse"/>
	</wsdl:message>

	<wsdl:portType name="PizzaPricePortType">
		<wsdl:operation name="getPizzaProcess">
			<wsdl:input name="PizzaTypeAndMore" message="tns:PizzaPriceInputMessage"/>
			<wsdl:output name="PizzaOutput" message="tns:PizzaPriceOutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="AddResponsePortType">
		<wsdl:operation name="addOperation">
			<wsdl:input name="AddIn" message="calc:AddSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="MultiplyResponsePortType">
		<wsdl:operation name="multiplyOperation">
			<wsdl:input name="MultIn" message="calc:MultiplySoapOut"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="PizzaProcessPartnerLink">
		<wsdl:operation name="getPizzaPriceOperation">
			<wsdl:input name="getPizzaPriceIn" message="rec:getPizzaPriceResponse"/>
		</wsdl:operation>
	</wsdl:portType>



	<wsdl:binding name="PizzaPriceSOAPBinding" type="tns:PizzaPricePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getPizzaProcess">
			<soap:operation soapAction="urn:getNewPrice" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name="MultiSOAPBinding" type="tns:MultiplyResponsePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="multiplyOperation">
			<soap:operation soapAction="urn:multiplyResponseOperation" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="AddSOAPBinding" type="tns:AddResponsePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="addOperation">
			<soap:operation soapAction="urn:addResponseOperation" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="getPizzaPriceSOAPBinding" type="tns:getPizzaPriceResponsePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getPizzaPriceOperation">
			<soap:operation soapAction="urn:getPizzaPriceResponseOperation" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>


	<wsdl:service name="PizzaProcess">
		<wsdl:port name="PizzaPricePort" binding="tns:PizzaPriceSOAPBinding">
			<soap:address location="http://localhost:8080/ode/processes/PizzaProcess"/>
		</wsdl:port>
		<wsdl:port name="MultPort" binding="tns:MultiSOAPBinding">
			<soap:address location="http://localhost:8080/ode/processes/PizzaProcessMuli"/>
		</wsdl:port>
		<wsdl:port name="AddPort" binding="tns:AddSOAPBinding">
			<soap:address location="http://localhost:8080/ode/processes/PizzaProcessAdd"/>
		</wsdl:port>
		<wsdl:port name="getPizzaPricePort" binding="tns:getPizzaPriceSOAPBinding">
			<soap:address location="http://localhost:8080/ode/processes/PizzaProcessgetPizzaPrice"/>
		</wsdl:port>
	</wsdl:service>

	<plnk:partnerLinkType name="PizzaProcessLinkType">
		<plnk:role name="PizzaProcessExecutorRole" portType="tns:PizzaProcessPortType"/>
	</plnk:partnerLinkType>
	
	<plnk:partnerLinkType name="MultiplyLinkType">
	  <plnk:role name="MultiplierRole" portType="calc:CalculatorSoap" />
	  <plnk:role name="MultiplierClientRole" portType="tns:MultiplyResponsePortType" />
	</plnk:partnerLinkType>

	<plnk:partnerLinkType name="AddLinkType">
	  <plnk:role name="AdderRole" portType="calc:CalculatorSoap" />
	  <plnk:role name="AdderClientRole" portType="tns:AddResponsePortType" />
	</plnk:partnerLinkType>

	<plnk:partnerLinkType name="getPizzaPriceLinkType">
	  <plnk:role name="getPizzaPriceerRole" portType="rec:PizzaPrice" />
	  <plnk:role name="getPizzaPriceerClientRole" portType="tns:getPizzaPriceResponsePortType" />
	</plnk:partnerLinkType>

</wsdl:definitions>
