07-bpel/PizzaPrice.wsdl

<definitions
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://soap.patriktrefil.com/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="http://homework2/">
    <types>
        <xs:schema>
            <xs:schema targetNamespace="http://homework2/">
                <xs:element name="getPizzaPrice">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="pizzaType" type="xs:string" minOccurs="0" maxOccurs="1" />
                            <xs:element name="size" type="xs:int" minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="getPizzaPriceResponse">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="return" type="xs:double" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:schema>
        </xs:schema>
    </types>
    <message name="getPizzaPriceMsg" xmlns="">
        <part name="parameters" element="tns:getPizzaPrice" />
    </message>
    <message name="getPizzaPriceResponseMsg" xmlns="">
        <part name="parameters" element="tns:getPizzaPriceResponse" />
    </message>
    <portType name="PizzaPriceService">
        <operation name="getPizzaPriceOperation">
            <input message="tns:getPizzaPriceMsg" />
            <output message="tns:getPizzaPriceResponseMsg" />
        </operation>
    </portType>
    <binding name="PizzaPriceServiceBinding" type="tns:PizzaPriceService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="getPizzaPriceOperation">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service>
        <port binding="tns:PizzaPriceServiceBinding">
            <soap:address location="http://127.0.0.1:8001/Price" />
        </port>
    </service>
</definitions>
